{% extends 'layout.html' %}
{% block title %}Create Ticket{% endblock %}
{% block content %}
<h3 class="mt-md-5 text-center">Créer un ticket</h3>
<form class="mt-md-5" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3 col-md-8 m-auto">
        <label for="exampleFormControlInput1" class="form-label">Titre</label>
        {{ form.title }}
    </div>
    <div class="mb-3 col-md-8 m-auto">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        {{ form.description }}
    </div>
    <div class="mb-3 offset-2 col-md-2">
        <label for="formFileSm" class="form-label">Image</label>
        {{ form.image }}
    </div>
    <div>
        <button type="submit" class="btn btn-custom-outline mt-2 offset-md-9">Envoyer</button>
    </div>
</form>
{% endblock %}