{% extends 'layout.html' %}
{% block title %}followers{% endblock %}
{% block content %}
    <section>
        <form class="d-flex col-md-7 mt-5 mx-auto" role="search" method="get">
            <input class="form-control me-2" type="search" placeholder="Nom d'utilisateur" aria-label="Envoyer"
                   name="query">
            <button class="btn btn-custom-outline" type="submit">Envoyer</button>
        </form>
    </section>
    <section>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show col-md-7 mt-5 mx-auto" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if show_table_username_found %}
            <div class="col-md-7 mt-5 mx-auto">
                <table class="table table-bordered">
                    <tbody>
                    {% for username in usernames_found %}
                        <tr>
                            <td>{{ username }}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-custom-outline btn-sm" href="/addfollower/?nid={{ username.id }}">Suivre</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>
    <section>
        <h3 class="mt-md-5 text-center">Abonnements</h3>
    </section>
    <section>
    {% if show_table_user_followers %}
        <section>
        <div class="col-md-7 mt-5 mx-auto">
            <table class="table table-bordered">
                <tbody>
                {% for user_follower in user_followers %}
                    <tr>
                        <td>{{ user_follower.followed_user }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                            <a class="btn btn-custom-outline btn-sm"
                               href="/deletefollower/?nid={{ user_follower.id }}">Désabonner</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    </section>
    <section>
        <h3 class="mt-md-5 text-center">Abonné</h3>
    </section>
    <section>
    {% if show_table_user_followed_by %}
        <section>
        <div class="col-md-7 mt-5 mx-auto">
            <table class="table table-bordered">
                <tbody>
                {% for user_followed_by in users_followed_by %}
                    <tr>
                        <div class="d-flex justify-content-center">
                            <td>{{ user_followed_by.user.username }}</td>
                        </div>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    </section>
{% endblock %}
