{% extends 'loyout_login_signup.html' %}
{% block title %}Inscription{% endblock %}
{% block content %}
<div class="container" style="height: 600px">
    <div class="row mt-md-5">
        <div class="col-md-12 text-center mb-5">
            <h1>Inscrivez-vous</h1>
        </div>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                 <div class="col-md-6 offset-md-3 text-center align-self-center mt-2 form-floating">
                    {{ field }}
                     <label for="{{ field.id_for_label }}" class="form-floating">{{ field.label }}</label>
                     <span style="color:red">{{ field.errors.0 }}</span>
                 </div>
            {% endfor %}
            <div class="offset-md-7 mt-5">
                <a class="btn btn-custom-outline" href="/login/" role="button">Retourner</a>
                <button class="btn btn-custom-outline" type="submit">S'inscrire</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}