{% extends 'loyout_login_signup.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-fluid" style="height: 600px">
        <div class="row mt-5">
            <div class="col-12 mt-5"></div>
            <div class="col-12 mt-5"></div>
            <div class="col-md-4 offset-1 text-center align-self-center">
                <h1>Inscrivez-vous maintenant</h1>
                <a class="btn btn-custom-outline mt-2" href="/inscription/">S'inscrire</a>
            </div>
            <div class="col-md-4 offset-1 text-center align-self-center" >
                <h1>Connectez-vous</h1>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <div class="mt-4 form-floating">
                        {{form.username}}
                        <label for="{{ form.username.id_for_label }}" class="form-floating">{{ form.username.label}}</label>
                        <span style="color:red">{{ form.username.errors.0 }}</span>
                    </div>
                    <div class="mt-2 form-floating">
                        {{ form.password }}
                        <label for="floating-password" class="form-floating">Mot de passe</label>
                        <span style="color:red">{{ form.password.errors.0 }}</span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-custom-outline mt-2 offset-md-9">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
